@model List<ShopBooks.Models.ChuDe>

<ul class="nav nav-list">
    @foreach (var item in Model)
    {
        <li>
            @*Not use razor*@ 
            <a href="/Home/Category?ID=@item.MaChuDe">
                <span class="icon-chevron-right"></span>
                @item.TenChuDe
            </a>
            @* Use razor
                @Html.ActionLink("Ten hien thi", "Ten phuong thuc", "Ten controller", new{categoryId = @item.ID}, null)
            *@
        </li>
    }
    <li style="border:0">&nbsp;</li>
</ul>
