@model ShopBooks.Models.Sach

<li class="span4">
    <div class="thumbnail">
        <a class="zoomTool" href="/Home/ProductDetail?ID=@Model.MaSach" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
        <a href="product_details.html"><img class="image-book" src="@Model.AnhBia" alt=""></a>
        <div class="caption">
            <h5>@Model.TenSach</h5>
            <h4>
                <a class="defaultBtn" href="product_details.html" title="Click to view"><span class="icon-zoom-in"></span></a>
                <a class="shopBtn" href="#" title="add to cart"><span class="icon-plus"></span></a>
                <span class="pull-right">@Model.GiaBan</span>
            </h4>
        </div>
    </div>
</li>