@model IEnumerable<ShopBooks.Models.ChuDe>

<ul class="nav" id="side-menu">
    @foreach (var item in Model)
    {
        <li>
            <a href=""><i class="fa fa-files-o fa-fw"></i>@item.TenChuDe</a>
        </li>
    }
</ul>


